<% content_for :head do %>
<meta property="og:title" content="Debt Collective - Membership" />
<meta
  property="og:description"
  content="Organizing for big change requires resources. Becoming a dues- paying member is not charity. Instead, your support is an act of ongoing solidarity with other people in debt."
/>
<meta property="og:type" content="text/html" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:image" content="<%= asset_url('logo-small.png') %>" />
<% end %>

<main id="homepage">
  <section id="plans">
    <h1>Every membership brings us closer to our goals.</h1>
    <h4>Your monthly contribution helps us plan for the future.</h4>
    <p id="notice"><%= notice %></p>

    <div class="subscription--plans">
      <% @plans.each do |plan| %> <%= link_to @current_user ?
      new_subscription_charge_path(plan_id: plan) : login_path, class:
      "subscription--plan", id:
      "subscription-#{plan.name.parameterize.underscore}" do %>
      <div>
        <h3>
          <%= plan.name %>
          <span class="subscription--plan-price"
            ><%= number_to_currency(plan.amount).gsub(/\.00$/, "") %><span
              >/mo</span
            ></span
          >
        </h3>
        <h4><%= plan.headline %></h4>
        <%= plan.description %>
        <% if @current_user_subscription&.plan&.id == plan.id %>
          <p><strong>Current subscription</strong></p>
        <% end %>
      </div>
      <% end %> <% end %> <%= link_to new_charge_path, class:
      "subscription--plan", id: "one-time-donation" do %>
      <h3>One-time contribution.</h3>
      <h4>Pay what you can. Every dollar counts.</h4>
      <p>
        “To each according to their ability, to each according to their need.”
        Contributing what you can, where you can is what we’re all about.
      </p>
      <%end%>
    </div>
  </section>

  <%= image_tag('donate_photo_1_mobile.jpg', class: 'mobile-section-photo', alt:
  'Help us fund our mission') %>

  <section class="section__with-background" id="money">
    <div class="overlay"></div>
    <div class="content">
      <h2>Where is your money going?</h2>
      <p>
        Organizing for big change requires resources. Becoming a dues- paying
        member is not charity. Instead, your support is an act of ongoing
        solidarity with other people in debt. Your money will go directly to
        funding:
      </p>
      <ul>
        <li>Debt Clinics</li>
        <li>Dispute Tools</li>
        <li>Campaigns</li>
        <li>And More!</li>
      </ul>
    </div>
  </section>

  <%= image_tag('donate_photo_2_mobile.jpg', class: 'mobile-section-photo', alt:
  'Push us closer to future projects') %>

  <section class="section__with-background" id="cause">
    <div class="overlay"></div>
    <div class="content">
      <h2>What are we fighting for?</h2>
      <p>
        The Debt Collective believes that everyone has the right to basic needs
        without going into debt. We believe that there is power in numbers. Our
        mission is to make a better world together, including:
      </p>
      <ul>
        <li>A Student Debt Jubilee</li>
        <li>Free Public College</li>
        <li>Medicare-For-All</li>
        <li>An End to Fines, Fees, and Bail</li>
        <li>And More!</li>
      </ul>
    </div>
  </section>

  <section id="retail">
    <section class="retail--products">
      <a
        class="retail--product"
        href="https://teespring.com/debt-collective-hoodie?tsmac=store&tsmic=debt-collective&pid=377&cid=100057"
        target="_blank"
      >
        <%=
        image_tag('https://vangogh.teespring.com/v3/image/Blih3sQlMhOo3g6tisuAir-a97c/756/560.jpg',
        alt: 'classic pullover hoodie') %>
      </a>
      <a
        class="retail--product"
        href="https://teespring.com/i-am-your-professor?tsmac=store&tsmic=debt-collective&pid=389&cid=100028"
        target="_blank"
      >
        <%=
        image_tag('https://vangogh.teespring.com/v3/image/vutuslAnEfk1PfHMusvVTc6o0C8/756/560.jpg',
        alt: 'classic tee') %>
      </a>
      <a
        class="retail--product"
        href="https://teespring.com/i-am-your-professor?tsmac=store&tsmic=debt-collective&pid=388&cid=101860"
        target="_blank"
      >
        <%=
        image_tag('https://vangogh.teespring.com/v3/image/AHXiaeMgyuBvCGgDpAWoNcqR3dw/756/560.jpg',
        alt: 'women comfort tee') %>
      </a>
    </section>
    <h2>Rather wear your cause on your sleeve?</h2>
    <p>
      You can also support the Debt Collective by purchasing merchandise through
      our online store.
    </p>
    <a
      href="https://teespring.com/stores/debt-collective"
      class="button primary as-block"
      target="_blank"
      >Browse the Shop</a
    >
  </section>
</main>
