<p><%= link_to 'Make a donation today', new_charge_path %></p>
<main id="homepage">
  <section id="plans">
    <h1>Every membership brings us closer to our goals.</h1>
    <h4>Your monthly contribution helps us plan for the future.</h4>
    <p id="notice"><%= notice %></p>
    <div class="subscription--plans">
      <% @plans.each do |plan| %>
        <div class="subscription--plan" id="subscription-<%= plan.name.parameterize.underscore %>">
          <h3>
            <%= plan.name %>
            <span class="subscription--plan-price">$<%= plan.amount %><span>/mo</span></span>
          </h3>
          <h4><%= plan.headline %></h4>
          <p><%= plan.description %></p>
          <p><%= link_to 'Subscribe', new_subscription_first_path(plan_id: plan) %></p>
        </div>
      <% end %>
      <div class="subscription--plan" id="one-time-donation">
        <h3>Other</h3>
        <h4>Pay what you can. Every dollar counts.</h4>
        <p>“To each according to their ability, to each according to their need.” Contributing what you can, where you can is what we’re all about.</p>
        <p>Folks who donate $100 on a one-time basis will receive a free gift from our store. People who pay dues at the rate of $100 per month or more will receive a thank you call from us.</p>
        <p><%= link_to 'Make a donation today', new_charge_path %></p>
      </div>
    </div>
  </section>

  <section id="money">
    <div class="content">
      <h2>Where is your money going?</h2>
      <p>Organizing for big change requires resources. Becoming a dues- paying member is not charity. Instead, your support is an act of ongoing solidarity with other people in debt. Your money will go directly to funding:</p>
      <ul>
        <li>Debt Clinics</li>
        <li>Dispute Tools</li>
        <li>Campaigns</li>
        <li>And More!</li>
      </ul>
    </div>
  </section>

  <section id="cause">
    <div class="content">
      <h2>What are we fighting for?</h2>
      <p>The Debt Collective believes that everyone has the right to basic needs without going into debt. We believe that there is power in numbers. Our mission is to make a better world together, including:</p>
      <ul>
        <li>A Student Debt Jubilee</li>
        <li>Free Public College</li>
        <li>Medicare-For-All</li>
        <li>An End to Fines, Fees, and Bail</li>
        <li>And More!</li>
      </ul>
    </div>
  </section>

  <section>
    <section class="retail--products">
      <div class="retail--product">
        <img alt="article" src="https://placekitten.com/500/500" />
      </div>
      <div class="retail--product">
        <img alt="article" src="https://placekitten.com/500/500" />
      </div>
      <div class="retail--product">
        <img alt="article" src="https://placekitten.com/500/500" />
      </div>
    </section>
    <h2>Rather war your cause on your sleeve?</h2>
    <p>You can also support the Debt Collective by purchasing merchandise through our online store.</p>
    <a href="#" class="button primary">Browse the Shop</a>
  </section>
</main>
