<p id="notice"><%= notice %></p>
<h1>Welcome to app!</h1>
<% @plans.each do |plan| %>
  <div id="subscription-<%= plan.name.parameterize.underscore %>">
    <h3><%= plan.name %></h3>
    <p><%= plan.description %></p>
    <p>$<%= plan.amount %></p>
    <p><%= link_to 'Subscribe', new_subscription_first_path(plan_id: plan) %></p>
  </div>
<% end %>

<h3>Can't contribute regularly</h3>
<p><%= link_to 'Make a donation today', new_charge_path %></p>
