<%= form_with(model: membership, url: update_membership_amount_path, builder: ApplicationFormBuilder, local: true, class: "space-y-8") do |f| %>
<!-- List form errors -->
<% if membership.errors.any? %>
<div class="p-4 rounded-md bg-red-50">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/x-circle -->
      <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800">
        <%= pluralize(membership.errors.count, "error") %> with your submission
      </h3>
      <div class="mt-2 text-sm text-red-700">
        <ul class="pl-5 space-y-1 list-disc">
          <% membership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="space-y-8 sm:space-y-5">
  <div class="grid grid-cols-1 mt-6 gap-y-4 gap-x-4 sm:grid-cols-6">
    <div class="sm:col-span-6">
      <%= f.label :amount, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= f.number_field :amount, name: 'membership[amount]', id: 'membership_amount', min: 0, step: 1, class: "block w-full sm:text-sm border-gray-300 rounded-md shadow-sm focus:ring-lilac focus:border-lilac" %>
      </div>
    </div>
  </div>
</div>

<div class="pt-5">
  <div class="flex justify-end">
    <%= f.submit 'Save', class: "edit-amount-button ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lilac" %>
  </div>
</div>
<% end %>
