<div class="membership content mb-20">
  <div class="pb-5 border-b border-gray-200">
    <h3 class="font-black text-black text-4xl sm:text-6xl">
      Membership
    </h3>
    <p class="max-w-2xl mt-2 text-xl sm:text-2xl font-thin mt-4 mb-10 leading-normal" style="color:#232323">Make changes to your membership! If you need additional assistance please <a href="https://debtcollective.org/contact-us/" target="_blank" class="email-link underline" style="color: #1e9981;">send us a message via our contact form.</a>
    </p>
  </div>

  <!-- Membership -->
  <% if @membership.present? %>
  <section aria-labelledby="membership_amount">
    <div class="mt-8">
      <p class="max-w-4xl mt-2 text-2xl font-black text-gray-900">Your membership is <%= @membership&.status %></p>

      <div class="flex items-center justify-between">
        <p class="subscription-amount px-4">
          <span class="mt-1 text-4xl font-semibold text-gray-900"><span class="text-sm align-text-top">$</span><%= @membership&.amount.to_i %></span>
          <span class="text-sm font-medium text-gray-500 truncate">/ month</span>
        </p>

        <div class="py-3 text-right sm:px-6">
          <%= link_to "Change amount", edit_membership_amount_path, class: "change-amount-link inline-flex justify-center px-4 py-2 text-sm font-bold text-white bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>
        </div>
      </div>
      <% if @membership.active? %>
      <p class="max-w-4xl mt-2 text-gray-900 text-md">Your next payment is due on <%= @membership&.next_payment_due_at.strftime("%b, %e") %></p>
      <% end %>
  </section>

  <section aria-labelledby="membership_credit_card">
    <div class="mt-10">
      <div class="flex items-center justify-between">
        <div>
          <p class="text-base sm:text-lg mr-2">
            Payment method
          </p>
          <p class="text-sm sm:text-base">
            Card ending in <%= @membership.card_last4%>
          </p>
        </div>
        <div class="py-3 text-right sm:px-6 ml-2">
          <%= link_to "Update credit card", edit_membership_card_path, class: "update-cc-link min-w-max inline-flex justify-center px-4 py-2 text-sm font-bold text-white bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>
        </div>
      </div>
  </section>

  <section aria-labelledby="membership_credit_card">
    <div class="mt-10">
      <div class="flex items-center justify-between">
        <div class="w-1/2">
          <p class="text-base sm:text-lg mr-2">
            Change membership status
          </p>
          <% if @membership.active? %>
          <p class="text-sm sm:text-base">
            Pause or cancel your membership
          </p>
          <% else %>
          <p>
            Resume your membership
          </p>
          <% end %>
        </div>
        <div class="py-3 text-right sm:px-6 ml-2">
          <%= link_to "Update status", edit_membership_status_path, class: "update-status-link min-w-max inline-flex justify-center px-4 py-2 text-sm font-bold text-white border border-transparent rounded-md shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>
        </div>
      </div>
  </section>
  <% else %>
  <section aria-labelledby="membership_amount">
    <div class="mt-8">
      <p class="max-w-4xl mt-2 text-lg text-gray-900">You haven't started your membership. <a class="font-medium text-blue-700 hover:text-blue-600" href="<%= "#{ENV["HOME_PAGE_URL"]}/debt-union" %>">Click here to start one.</a></p>
    </div>
  </section>
  <% end %>
</div>
