<fieldset class="mt-2 bg-white">
  <legend class="block text-sm font-medium text-gray-700">Address</legend>
  <div class="mt-1 -space-y-px rounded-md shadow-sm">
    <div>
      <%= f.label :address_line1, class: "sr-only" %>
      <%= f.text_field :address_line1, class: "focus:ring-indigo-500 focus:border-indigo-500 relative block w-full rounded-none rounded-t-md bg-transparent focus:z-10 sm:text-sm border-gray-300", placeholder: "Address" %>
    </div>
    <div>
      <%= f.label :address_city, class: "sr-only" %>
      <%= f.text_field :address_city, class: "focus:ring-indigo-500 focus:border-indigo-500 relative block w-full rounded-none bg-transparent focus:z-10 sm:text-sm border-gray-300", placeholder: "City" %>
    </div>
    <div class="flex">
      <div class="w-full">
        <%= f.label :address_state, class: "sr-only" %>
        <%= f.text_field :address_state, class: "focus:ring-indigo-500 focus:border-indigo-500 relative block w-full rounded-none bg-transparent focus:z-10 sm:text-sm border-gray-300", placeholder: "State" %>
      </div>
      <div class="w-full">
        <%= f.label :address_zip, class: "sr-only" %>
        <%= f.text_field :address_zip, class: "focus:ring-indigo-500 focus:border-indigo-500 relative block w-full rounded-none bg-transparent focus:z-10 sm:text-sm border-gray-300 border-l-0", placeholder: "Postal code" %>
      </div>
    </div>
    <div>
      <%= f.label :address_country_code, class: "sr-only" %>
      <%= f.country_select(:address_country_code, {priority_countries: ['US', 'CA'], include_blank: "Select country"}, {class: 'focus:ring-indigo-500 focus:border-indigo-500 relative block w-full rounded-none rounded-b-md bg-transparent focus:z-10 sm:text-sm border-gray-300', id: 'address-country-code-select', required: true}) %>
    </div>
  </div>
</fieldset>
