<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div class="fixed inset-0 z-40 flex md:hidden" role="dialog" aria-modal="true" :class="{ 'pointer-events-none': !isOpen }">
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true" x-show="isOpen" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
  </div>

  <div class="relative flex flex-col flex-1 pb-4 bg-white" style="max-width: 14rem; margin-top: 4.5rem" x-show="isOpen" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="-translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="-translate-x-0" x-transition:leave-end="-translate-x-full">
    <!--
      Close button, show/hide based on off-canvas menu state.
    -->
    <div class="absolute top-0 right-0 pt-2 -mr-12" x-transition:enter="ease-in-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
      <button class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" @click="isOpen = false">
        <span class="sr-only">Close sidebar</span>
        <!-- Heroicon name: outline/x -->
        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="flex-1 h-0 overflow-y-auto">
      <nav class="pr-2 pt-4 space-y-1">
        <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
        <%= link_to root_path,
            class: "sidebar-item union-hub flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_page?(root_path) ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
        Union Hub
        <%= show_svg('union-hub.svg') %>
        <% end %>
        </a>

        <%= link_to user_profile_path,
            class: "sidebar-item my-profile flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_path?('/profile') ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
        My profile
        <%= show_svg('profile.svg') %>
        <% end %>

        <%= link_to user_membership_path,
            class: "sidebar-item membership flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_path?('/membership') ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
        Membership
        <%= show_svg('membership.svg') %>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="flex-shrink-0 w-14">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden md:flex md:flex-shrink-0 mt-8">
  <div class="flex flex-col w-56">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <%
=begin%>
    <div class="flex flex-col flex-grow pb-4 overflow-y-auto border-r border-gray-200">
      <div class="flex flex-col flex-grow mt-5">
        <%
=end%>
        <nav class="flex-1 pr-2 space-y-1 bg-white">
          <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
          <%= link_to root_path,
            class: "sidebar-item union-hub flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_page?(root_path) ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
          Union Hub
          <%= show_svg('union-hub.svg') %>
          <% end %>
          </a>

          <%= link_to user_profile_path,
            class: "sidebar-item my-profile flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_path?('/profile') ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
          My profile
          <%= show_svg('profile.svg') %>
          <% end %>

          <%= link_to user_membership_path,
            class: "sidebar-item membership flex items-center group rounded-r px-6 py-4 justify-between text-base font-light h-16 #{current_path?('/membership') ? 'current-path' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}" do %>
          Membership
          <%= show_svg('membership.svg') %>
          <% end %>
        </nav>
        <%
=begin%>
      </div>
    </div>
    <%
=end%>
  </div>
</div>
