<%= form_with(model: user_profile, url: user_profile_path, local: true, class: "space-y-8") do |f| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-8 sm:space-y-5">
    <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">

      <div class="sm:col-span-3">
        <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :first_name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :last_name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= f.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :phone_number, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= f.label :address_line1, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :address_line1, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= f.label :address_city, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :address_city, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= f.label :address_zip, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :address_zip, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <%= f.label :address_country_code, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.country_select(:address_country_code, {priority_countries: ['US', 'CA']}, {class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md', id: 'address-country-code-select', required: true}) %>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <%= f.submit 'Save', class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  </div>
<% end %>
