<%= form_with(model: user_profile, url: user_profile_path, local: true) do |f| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :address_line1 %>
    <%= f.text_field :address_line1 %>
  </div>

  <div class="field">
    <%= f.label :address_city %>
    <%= f.text_field :address_city %>
  </div>

  <div class="field">
    <%= f.label :address_zip %>
    <%= f.text_field :address_zip %>
  </div>

  <div class="field">
    <%= f.label(:address_country_code) do %>
      Country
      <%= f.country_select(:address_country_code, {priority_countries: ['US', 'CA']}, {class: 'input-field', id: 'address-country-code-select', required: true}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
