<%= form_with(model: @subscription, url: {controller: "subscription_first", action: :update }, local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record?  %>
    <h3>Please create an account</h3>
    <%= form.fields_for :user do |user| %>
      <div class="field">
        <%= user.label :first_name %>
        <%= user.text_field :first_name %>
      </div>

      <div class="field">
        <%= user.label :last_name %>
        <%= user.text_field :last_name %>
      </div>

      <div class="field">
        <%= user.label :email %>
        <%= user.text_field :email %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Continue" %>
  </div>
<% end %>
