<% unless @current_plan.nil? %>
  <h1><%= @current_plan.name %></h1>
  <p>Benefits of the plan:</p>
<% end %>

<%= form_with(model: @subscription, url: {controller: "subscription_first", action: :create }, local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :plan do |plan| %>
  <% end %>

  <div class="actions">
    <%= form.submit "Start Donating" %>
  </div>
<% end %>
