<%= form_with(model: [:admin, subscription], local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if subscription.user.blank? %>
    <p>No user available for this subscription</p>
  <% else %>
    <div class="field">
      <%= form.label :user %>
      <%= form.text_field :user, value: subscription.user.name, disabled: true %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
