<p id="notice"><%= notice %></p>

<h1>
  <strong>User:</strong>
  <%= @subscription.user.blank? ? 'N/A' : @subscription.user.full_name %>
</h1>

<h3>
  <strong>Plan:</strong>
  <%= @subscription.plan.name %>
</h3>
<p>
  <strong>Plan description:</strong>
  <%= @subscription.plan.description %>
</p>

<% if @donations_history.empty? %>
  <p>We haven't received any donations from this user yet.</p>
<% else %>
  <ul>
   <% @donations_history.each do |donation| %>
    <li id="donation-<%= donation.id %>">
      <p><%= number_to_currency(donation.amount) %></p>
      <small><%= donation.created_at %></small>
    </li>
   <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_admin_subscription_path(@subscription) %> |
<%= link_to 'Back', admin_subscriptions_path %>
