<div id="checkout" class="one-time-donation">
  <div class="content">
    <section id="checkout-plan">
      <h3><%= t("charge.new.title") %></h3>
      <p>
        Please donate what you can to support the work of preventing evictions in and around Los Angeles County or the Debt Collective’s ongoing efforts to build a union of debtors and win broad debt cancellation and progressive economic policies.
      </p>
      <p>
        “To each according to their ability, to each according to their need.” Contributing what you can, where you can is what we’re all about.
      </p>
      <p>
        Thank you for supporting our work.
      </p>
    </section>
    <section id='checkout-payment'>
      <%= form_with(url: charges_path, method: 'post', local: true, id: 'payment-form') do %>
        <%= fields_for(:charge) do |f|%>
          <h4>
            Select a fund to donate to:
          </h4>
          <div class="funds">
            <% @funds.each do |fund_each| %>
              <%= render partial: "fund_item", locals: {f: f, fund: fund_each, checked: @fund === fund_each} %>
            <% end %>
          </div>

          <h4>
            Personal information:
          </h4>
          <div class="form-row">
            <%= f.label(:name) do %>
              Name
              <%= f.text_field(:name, placeholder: 'First and Last Name', class: 'input-field', id: 'name-field', required: true, value: current_user&.name) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:email) do %>
              Email
              <%= f.email_field(:email, placeholder: 'example@domain.com', class: 'input-field', id: 'email-field', required: true, value: current_user&.email) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:phone_number) do %>
              Phone number
              <%= f.telephone_field(:phone_number, placeholder: '+1 (202) 401-3000', minlength: 5, maxlength: 20, class: 'input-field', id: 'phone-number-field', required: true) %>
            <% end %>
          </div>

          <h4>
            Payment information:
          </h4>
          <div class="form-row">
            <%= f.label(:amount) do %>
              Amount
              <%= f.number_field(:amount, step: 1, min: 5, class: 'input-field', id: 'amount-field', required: true) %>
              <small class="help-text">For security reasons, the minimum donation we can accept is $5 USD. We are working to remove this limitation as soon as possible.</small>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:card, class: 'amount-label') do %>
              Credit or debit card
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <div id="card-errors" role="alert">
                <!-- Used to display form errors from stripe elements. -->
              </div>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:phone_number) do %>
              Billing Address
              <%= f.text_field(:address_line1, placeholder: '400 Maryland Avenue, SW', minlength: 5, class: 'input-field', id: 'address-field', required: true) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:address_city) do %>
              City
              <%= f.text_field(:address_city, placeholder: 'Washington', minlength: 2, class: 'input-field', id: 'city-field', required: true) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:address_zip) do %>
              Postal code
              <%= f.text_field(:address_zip, placeholder: '20024', minlength: 2, class: 'input-field', id: 'zip-field', required: true) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:address_zip) do %>
              Country
              <%= f.country_select(:address_country, {priority_countries: ['US', 'CA']}, { class: 'input-field', id: 'country-field', required: true}) %>
            <% end %>
          </div>
        <% end %>

        <div class="form-row">
          <div class="recaptcha-wrapper">
            <%= recaptcha_tags %>
            <div id="captcha-errors" role="alert"></div>
          </div>
        </div>

        <div class="form-row">
          <button id="submit-payment" type="submit" class="button primary">Make my contribution</button>
        </div>
      <% end %>
    </section>
  </div>
</div>

<%= render 'shared/stripe_scripts'%>
