<div id="checkout" class="one-time-donation">
  <div class="content">
    <section id="checkout-plan">
      <h4>Pay what you can. Every dollar counts.</h4>
      <p>“To each according to their ability, to each according to their need.” Contributing what you can, where you can is what we’re all about.</p>
    </section>
    <section id='checkout-payment'>
      <%= form_with(url: charges_path, method: 'post', local: true, id: 'payment-form') do %>
        <%= fields_for(:charge) do |f|%>
          <div class="form-row">
            <%= f.label(:name) do %>
              Name
              <%= f.text_field(:name, placeholder: 'First and Last Name', class: 'input-field', id: 'name-field', required: true, value: current_user&.name) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:email) do %>
              Email
              <%= f.email_field(:email, placeholder: 'example@domain.com', class: 'input-field', id: 'email-field', required: true, value: current_user&.email) %>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:card) do %>
              Credit or debit card
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <div id="card-errors" role="alert">
                <!-- Used to display form errors from stripe elements. -->
              </div>
            <% end %>
          </div>

          <div class="form-row">
            <%= f.label(:amount) do %>
              Amount
              <%= f.number_field(:amount, step: 1, min: 5, placeholder: '$5', class: 'input-field', id: 'amount-field') %>
            <% end %>
          </div>
        <% end %>

        <div class="form-row">
          <%= recaptcha_tags %>
          <button id="submit-payment" type="submit" class="button primary">Make my donation</button>
        </div>
      <% end %>
    </section>
  </div>
</div>

<%= render 'shared/stripe_scripts'%>
