<% flash.each do |name, msg| %>
<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
</div>
<% end %>
<div id="checkout">
  <div class='content'>
    <% if @plan %>
      <section id="checkout-plan">
        <h1><%= @plan.name %></h1>
        <p><%= @plan.description %></p>
      </section>
    <% end %>

    <section id='checkout-payment'>
      <%= form_with(model: @subscription, url: {controller: "subscription_charges", action: :create }, local: true, id: 'payment-form') do |form| %>
        <% if @subscription.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

            <ul>
              <% @subscription.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-row">
          <label for="card-element">
            Credit or debit card
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <div id="card-errors" role="alert">
              <!-- Used to display form errors from stripe elements. -->
            </div>
          </label>
        </div>

        <div class="form-row">
          <div class="recaptcha-wrapper">
            <%= recaptcha_tags %>
            <div id="captcha-errors" role="alert"></div>
          </div>
        </div>


        <div class="actions">
          <%= form.submit "Enroll Membership for #{number_to_currency(@plan.amount).gsub(/\.00$/, "")}/mo", class: 'button primary', id: "submit-payment" %>
        </div>
      <% end %>
    </section>
  </div>
</div>

<%= render 'shared/stripe_scripts'%>
