<!DOCTYPE html>
<html>

<head>
  <title>Membership</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= content_for?(:head) ? yield(:head) : '' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700;900&display=swap" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= render 'layouts/sentry' %>
  <%= render 'layouts/header' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= render 'shared/analytics_scripts'%>
</head>

<body class="with-header">
  <%= render 'shared/header' %>
  <div class="flex flex-col md:flex-row h-screen bg-white">
    <%= render 'shared/sidebar' %>
    <div class="flex flex-col flex-1 mx-auto">
      <main class="relative flex-1 px-4 pt-8 overflow-y-auto md:px-8 focus:outline-none main">
        <%= render 'shared/flash_messages'%>
        <%= yield %>
      </main>
    </div>
  </div>
</body>

</html>
