<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'minimal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script
      src="https://www.google.com/recaptcha/api.js?render=<%= ENV["RECAPTCHA_V3_SITE_KEY"] %>"
    ></script>

    <!-- Add configuration for widget -->
    <script>
      window.DC_DONATE_API_URL = "<%= "#{request.protocol + request.host_with_port}/donate" %>"
      window.DC_MEMBERSHIP_API_URL = "<%= "#{request.protocol + request.host_with_port}/subscriptions" %>"
      window.DC_RECAPTCHA_V3_SITE_KEY = "<%= ENV["RECAPTCHA_V3_SITE_KEY"] %>"
      window.DC_STRIPE_PUBLIC_TOKEN = "<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
    </script>

    <%= content_for?(:head) ? yield(:head) : '' %>
  </head>

  <body>
    <div class="content">
      <div id="app" class="widget">
      </div>
    </div>
  </body>
</html>
